*

!.gitignore

!hypr/
!hypr/**

!hypr/conf/

!bashrc/
!bashrc/**

cava/config
!cava/**

!waybar/
!waybar/**

waypaper/config.ini
!waypaper/**

!kitty/
!kitty/**

!rofi/
!rofi/**

!wofi/
!wofi/**

settings/sddm/
!settings/**

scripts/bin
!scripts/
!scripts/**

!fastfetch/
!fastfetch/**

!wal/
!wal/**

!starship.toml

!assets/
!assets/**

!readme.md
!.github
!.github/**
!.github/assets/**

!vesktop/
!vesktop/settings/
!vesktop/settings/**

!spicetify/
!spicetify/Themes

wlogout
