*

!.gitignore
!hypr/
!hypr/**

!bashrc/
!bashrc/**

!cava/
!cava/**

!waybar/
!waybar/**

!waypaper/
!waypaper/**

!kitty/
!kitty/**

!rofi/
!rofi/**

!settings/
!settings/**

!fastfetch/
!fastfetch/**

!wal/
!wal/**

!starship.toml


*/default.conf

default.conf
