*

!.gitignore

!hypr/
!hypr/**

hypr/conf/

!bashrc/
!bashrc/**

cava/config
!cava/**

!waybar/
!waybar/**

waypaper/config.ini
!waypaper/**

!kitty/
!kitty/**

!rofi/
!rofi/**

settings/sddm/
!settings/**

scripts/bin
!scripts/**

!fastfetch/
!fastfetch/**

!wal/
!wal/**

!starship.toml

!readme.md
!assets/
!assets/**

!vesktop/
!vesktop/settings/
!vesktop/settings/**

!spicetify/
!spicetify/Themes

wlogout
