[pywal]
text = c0c0c0
subtext = a0a0a0
nav-active-text = 101010
main = 101010
sidebar = 101010
player = 101010
card = 101010
shadow = 101010
main-secondary = 101010
button = 6f8faf
button-secondary = c0c0c0
button-active = 6f8faf
button-disabled = 353535
nav-active = 8aa0c8
play-button = 6f8faf
tab-active = 101010
notification = c0c0c0
notification-error = 353535
playback-bar = 6f8faf
misc = c0c0c0
